.title-deport{
    text-align: center;
}
.row{
    text-align: center;
}
.title-study{
    text-align: center;
}
.title-metas {
    text-align: center;
}
.metas{
    text-align: left;
    display: inline-block;
}
